{% extends "base.html" %}

{% block title %}Twitter Feed{% endblock %}

{% block content %}
<h1>Welcome to Twitter App</h1>
<span>Powered by DJANGO</span>
{% endblock %}

{% block script %}
<script>
  const xhr = new XMLHttpRequest()
  const method = "GET"
  const url = "/tweets"
  const responseType = "json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    console.log(listedItems)
  }
  xhr.send()
</script>
{% endblock %}