{% extends "base.html" %}

{% block title %}Twitter Feed{% endblock %}

{% block content %}
<h1>Welcome to Twitter App</h1>
<span>Powered by DJANGO</span>

<div id="tweets">Loading...</div>
{% endblock %}

{% block script %}
<script>
  const tweetsElement = document.getElementById("tweets")
  // tweetsElement.innerHTML = "Loading..."

  function handleLike(tweetId, currentCount) {
    console.log(tweetId, currentCount)
  }

  function LikeBtn(tweet) {
    return `<button class="btn btn-primary btn-sm" onclick="handleLike(${tweet.id}, ${tweet.likes})">${tweet.likes} Likes</button>`
  }

  function formatTweetElement(tweet) {
    return `
      <div class="mb-4" id="tweet-${tweet.id}">
        <p>${tweet.content}</p>
        <div class="btn-group">
          ${LikeBtn(tweet)}
        </div>
      </div>
      `
  }

  const xhr = new XMLHttpRequest()
  const method = "GET"
  const url = "/tweets"
  const responseType = "json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function () {
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweetStr = ""
    var i;

    for (i = 0; i < listedItems.length; i++) {
      finalTweetStr += formatTweetElement(listedItems[i])
    }
    tweetsElement.innerHTML = finalTweetStr
  }
  xhr.send()
</script>
{% endblock %}